.Gringos1{
    color: crimson;
}
.Youtube1{
    color: purple;
    border-radius: 10px;
    text-decoration: none;
    font-size: 200px;
    font-family: sans-serif;
}
.Youtube1:hover{
    transition: all 0.75s;
    background-color: rgb(72, 0, 139);
    
}
